/* 自定义代码显示效果 */
code {
    color: #D34B62;
    background: #fdffbd;
}

#wrap {
    margin: auto;
    overflow: hidden;
}

#mark {
    width: 40%;
    height: 800px;
    float: left;
}

#result {
    width: 40%;
    height: 800px;
    float: left;
    background-color: #27bbff;
}